
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ejercicio 1</h5>
              <p class="card-text">Crear un Component que liste todos los usuarios.
              Las propiedades que se deben mostrar son "name", "username" y “phone”:
              </p>
              <a routerLink="/userlist" class="card-link">Ir</a>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ejercicio 2</h5>
              <p class="card-text"> Crear un Component que tenga un formulario con un input en el cual se ingrese el id del usuario y muestre sus albums.
                Las propiedades que se deben mostrar son "title"
              </p>
              <a routerLink="/albums" class="card-link">Ir</a>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ejercicio 3</h5>
              <p class="card-text">Crear un Component que tenga un formulario con un input en el cual se ingrese el id del usuario y muestre sus posts:
                Las propiedades que se deben mostrar son "title" y “body”, y debe contar con un boton que redireccione a un componente que liste todos los comentarios de un posts seleccionado
                Las propiedades que se deben usar son “name”, “email” y “body”
                </p>
              <a routerLink="/posts" class="card-link">Ir</a>
            </div>
          </div>
    </div>
</div>


  
