<div class="row">
    <h2>{{title}}</h2>
</div>

<div class="row" *ngIf="comments && comments.length > 0">
    <div class="col-12">
        <button class="btn btn-outline-secondary" (click)="backToPosts()">Back</button>
    </div>
    <div class="col-12">
        <app-comment-list [comments]="comments"></app-comment-list>
    </div>
</div>

<div class="row">
    <form [formGroup]="fg" (ngSubmit)="searchPosts()">
        <div class="input-group mb-3">
            <input 
                type="number" 
                class="form-control" 
                placeholder="Put user id" 
                aria-label="get posts" 
                aria-describedby="button-search"
                formControlName="userId">
            <button 
                class="btn btn-outline-secondary" 
                type="submit" 
                id="button-search">Search
            </button>
        </div>
    </form>
</div>

<div class="row" *ngIf="posts">
    <div class="col-sm-4 mb-2" *ngFor="let post of posts" >
        <div class="card" style="height: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{post.title |  truncate:15}}</h5>
                <p class="card-text">{{post.body|  truncate:120}}</p>
                <button (click)="viewComments(post.id)" class="btn btn-outline-primary">View comments</button>
            </div>
        </div>
    </div>
</div> 

